body {
    background: #222;
}

.gallery {
    margin: 100px auto;
    padding: 0 20px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 10px;
}

.item {
    background-color: crimson;
    color: #f1f1f1;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
}