*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('img/rain.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#form{
    display: flex;
    flex-direction: column;
    margin-top: 2em;  
}
#form input {
    margin: 0 auto 10px;  
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(46, 44, 44) 1px 2px 5px;
}
#btn {
    color: white;
    background-color: #0C97BD;
}
#weatherInfos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 1.5em;
    font-family: raleway, sans-serif;
    margin-top: 2em;
}
#weatherInfos > div {
    flex: 40%;
    background-color: rgba(0, 0, 0, 0.301);
    height: 250px;
    border: 1px gray dashed;
}
#cityName {
    display: flex;
    justify-content: center;
    align-items: center;
}
#temperature, #humidity, #wind{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#temperature p {
    margin-bottom: 1rem;
}
