html {
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    margin: 4rem 0;
  }
  
  a {
    color: inherit;
  }
  
  .article {
    border: black 1px solid;
    padding: 2rem;
    margin-bottom: 1rem;
  }
  
  #secondTitle {
    text-transform: capitalize;
    margin-top: 0;
  }
  
  #backLink {
    margin-bottom: 1rem;
    display: block;
  }